.collapser {
    position: absolute;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.5s ease;
    margin-top: 50%;
    // border-right: 1px solid #424549;
}

.app-root {
    display: flex;
    height: 100vh;
    width: 10px;
    float: right;
    transition: width 1s ease;
    font-family: 'PT Sans', sans-serif;
    background: rgba(44,47,51, 0.8);
    color: lightgrey;
}

.collapser.open {
    transform: rotate(0deg);
    position: relative;
}

.app-root.open {
    width: 100%;
    height: 100vh;
}

.app-root-container{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease, visibility 1s linear;
}

.app-root-container.open {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.link-dialog {
    border: 1px solid #424549;
    padding: 10%;
    margin: 10%;
}

.link-dialog > button {
    background: rgb(85,173,122);
    color: white;
    height: 30px;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: 0px;
}
