.broadcaster-page {
    background-color: white;
    width: 100%;
    height: 100%;
}

.broadcaster-upload-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #6441A4;
}

.seven-text {
    width: 25%;
}

.slot-machine-title-container {
    margin: 20px;
}

.slot-machine-title-form {
    margin: 20px;
}

.uploads {
    margin: 20px;
}

.broadcaster-button {
    margin: 0 10px;
}
